.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.heading {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #7562E0;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    width: 150px;
    height: 150px;
    margin: 20px;
    background-color: #BDBDBD;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.box:hover {
    background-color: #7562E0;
}

.icon {
    text-align: center;
    margin: 0;
}

.name {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: white;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .box {
        width: 170px;
        height: 170px;
    }
}

@media (max-width: 468px) {
    .container{
        width: 100%;
    }
    .main {
        width: 100%;
        height: auto;
        padding-top: 50px;
    }

    .box {
        width: 120px;
        height: 120px;
        margin: 10px;
        /* border: 2px solid red; */
    }

    .icon {
        font-size: 2.5em;
    }

    .name {
        font-size: 1rem;
        margin-top: 5px;
    }
}
